body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Заголовок страницы */
h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Стили для списка тренеров */
ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  margin: 0;
}

/* Каждый элемент списка */
li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* При наведении на элемент списка */
li:hover {
  background-color: #f0f8ff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для текста внутри элемента */
li span {
  font-weight: bold;
  color: #444;
}